# Developer stuff
corpus/
*.bz3
etc/bitflip

# Editor stuff
.vscode/
*~
tags

# Generated
*.o
*.lo
*.la
*.so
bzip3
bzip3-*
.version
.version-prev

# Autotools
.deps/
.libs/
.dirstamp
/aclocal.m4
/config.log
/config.status
/configure
/libtool
Makefile
Makefile.in
autom4te.cache/
/build-aux/*
!/build-aux/ax_check_compile_flag.m4
!/build-aux/ax_pthread.m4
!/build-aux/git-version-gen
